$h1Color : black ;
$pColor : hsl(24, 5%, 18%);
$backgroundColor :hsl(30, 54%, 90%);
$contentBoxColor :white;
$h2Color : hsl(30, 10%, 34%);
$liColor :hsl(24, 5%, 18%);
$pSize : 16px;
$paddingFlexContainer : 20px;
$intelineadoSecciones : 35px;
$interlineadoInterior : 25px;